/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}


/* utility clasess */
.panda-bg-primary{
    background-color: #FEEAE9;
}
.panda-bg-secondary{
    background-color: #FF136F;
}
.panda-bg-ternary{
    background-color: #FF9C35;
}
.panda-bg-extra{
    background-color: #4289FF;
}
.panda-bg-gray{
    background-color: #F4F4F4;
}
.panda-btn-primary{
    background-color: #FF136F;
    color: white;
    padding: 0.8rem 2rem;
}
.panda-btn-secondary{
    background-color: #FF9C35;
    color: white;
    padding: 0.8rem 2rem;
}
.panda-btn-primary:hover{
    color: white;
}
.panda-btn-primary:focus{
    box-shadow: none;
}



/* Navigation Menu */


nav .nav-item a{
    font-weight: 600;
    font-weight: 16px;
}
nav form input.form-control{
    background-color: #F1F1F1;
}

nav form button{
    position: relative;
    right: 3rem;
}
nav form button:focus{
    box-shadow: none !important;
}



/* Hero area slider */

#hero-area .carousel-item h1{
    font-weight: 700;
    color: #1F1F1F;
}
#hero-area .carousel-item p{
    font-size: 16px;
    line-height: 26px;
    color: #4E4E4E;
}
#hero-area .carousel-item h1.price{
    color: #FF136F;
    font-weight: 500;
}
#hero-area .carousel-item{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 2px solid black;
}
#hero-area .carousel-item.panda-bg-secondary p{
    color: white;
}



/* Categories Section */
#Categories .row{
    row-gap: 1.5rem;
}
#Categories .row h1{
    color: white;
}



/* form */
#contact form input.form-control{
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}
#contact form button{
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}